.gray-100 {
    color: #F8F9FA;
}

.gray-600 {
    color: #6C757D;
}

.gray-900 {
    color: #212529;
}

.fz-1 {
    font-size: 12px;
}

.fz-2 {
    font-size: 14px;
}

.navbar {
    h1 {
      font-size: 24px;
    }
  }