.my-ms-1 {
  margin-left: 20px;
}

.my-py-1 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.my-px-1 {
  padding-left: 19px;
  padding-right: 19px;
}

.my-mx-2 {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.my-mt-1 {
  margin-top: 64px;
}

.my-ms-2 {
  margin-left: auto;
}