.page-hover {
    color: #000;

    :hover {
        color: #FFFFFF;
        background-color: #198754;
    }
}

.bor {
    border: 1px solid #198754;
}

.my-h-1 {
    height: 24px;
}

.my-w-1 {
    width: 146px;
}

.my-w-2 {
    width: 92px;
}